.section_ticket{
    margin-bottom: 70px;
}
.section_ticket .row_ticket{
    margin: 0px 0px 50px;
    /* height: 210px;  */
    box-shadow: 0px 3px 6px 0px #888888;
}
.section_ticket .row_ticket .col_id{
    background-color: #000000;
}
.section_ticket .row_ticket .col_id .id_p_ticket p{
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 0px;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: -10px;
    font-weight: bolder;
}
.section_ticket .row_ticket .col_id .id_p_ticket{
    width: fit-content;
    margin: 10px auto;
}
.section_ticket .row_ticket .col_info{
    padding: 0px 20px;
}
.section_ticket .row_ticket .col_info .info_uno h6{
    font-size: 24px;
    font-weight: 400;
    margin: 0px;
}
.section_ticket .row_ticket .col_info .info_uno p{
    font-size: 15px;
    margin: 0px;
}
.section_ticket .row_ticket .col_info .info_dos{
    display: flex;
    align-items: center;
    margin: 40px 0px;
}
.section_ticket .row_ticket .col_info .info_dos .anchos_w{
    width: 20%;
}
.section_ticket .row_ticket .col_info .info_dos .anchos_w .linea_sepa{
    border-top: 1px solid #828282;
}
.section_ticket .row_ticket .col_info .info_dos .anchos_w p{
    color: #575757;
    font-size: 15px;
    margin: 0px;
}
.section_ticket .row_ticket .col_info .info_dos .anchos_w span{
    font-size: 15px; 
    color: #004AAD;
}
.items_list_tres ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}
.items_list_tres ul li{
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid #464545;
    margin-right: 5px;
}
.items_list_tres ul li p{
    color: #464545;
    margin: 0px;
    align-items: center;
    display: flex;
}
.items_list_tres ul li img{
    width: 15px;
    margin-right: 5px;
}
.info_cuatros{
    margin: 10px 0px 0px;
}
.info_cuatros p{
    font-size: 14px;
    color: #004aad;
    font-weight: bold;
}
.section_ticket .row_ticket .col_price{
    border-left: 3px dashed #9a9a9a36;
}
.section_ticket .row_ticket .col_price .flex_prices{
    display: flex;
    align-items: center;
}
.section_ticket .row_ticket .col_price .flex_prices .span_span{
    font-size: 13px;
    text-align: center;
    margin: 5px 0px 0px 0px;
    color: #999999;
}
.section_ticket .row_ticket .col_price .price_div{
    width: 40%;
    margin: 30px auto;
}
.section_ticket .row_ticket .col_price .price_div .span{
    border: 1px solid #31BB73;
    text-align: center;
    padding: 6px 10px;
    font-size: 25px;
    color: #31BB73;
    border-radius: 8px;
    text-decoration: line-through;
}
.section_ticket .row_ticket .col_price .price_div_descuentos{
    width: 40%;
    margin: 30px auto;
}
.section_ticket .row_ticket .col_price .price_div_descuentos .span{
    border: 1px solid #004aad;
    text-align: center;
    padding: 6px 10px;
    font-size: 29px;
    color: #004aad;
    border-radius: 8px;
    font-weight: bold;
}
.section_ticket .row_ticket .col_price .flex_button {
    display: flex;
}
.section_ticket .row_ticket .col_price .flex_button a{
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    width: 47%;
    margin: auto;
}
.section_ticket .row_ticket .col_price .flex_button a img{
    margin-right: 6px;
}
.section_ticket .row_ticket .col_price .flex_button .detail_button{
    text-decoration: underline;
    background-color: #FFB703;
}   
.section_ticket .row_ticket .col_price .flex_button .pay_button{
    background-color: #004AAD;
}
.section_ticket .row_ticket .col_price .flex_button .disabled_pay{
    background-color: #888888;
}
.fondo_boleto_despliegue{
    background-color: #f6f7f9;
}
.banner_div_destinos{
    border-bottom: 1px solid #000000;
    margin-bottom: 80px;
}
.banner_div_destinos .row_buscador{
    padding: 0px;
    background-color: #ffffff;
    position: relative;
    top: inherit;
    border-radius: 20px;
}
.banner_div_destinos .row_buscador select, .banner_div_destinos .row_buscador input{
    height: 60px !important;
    min-height: 60px;
    border: 1px solid #000000;
}
.banner_div_destinos .row_buscador button{
    border-radius: 10px;
    height: 100%;
    width: 75%;
}