.section_cuadrados{
    height: 100vh;
}
.section_cuadrados .sec_black{
    background-color: #010409;
}
.section_cuadrados .sec_black div{
    height: 100%;
display: flex;
align-items: center;
width: fit-content;
margin: auto;
}
.section_cuadrados .sec_white .clas_form{
    height: 100%;
    width: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
}
.section_cuadrados .sec_white .clas_form h3{
    font-size: 45px;
    font-weight: bold;
    margin: 90px 0px 0px;
}
.section_cuadrados .sec_white .clas_form .a_home a{
    color: #000000 !important;
    font-weight: bold;
    text-decoration: none;
}   