body{
    background-color: #F8FFFF;
}
header{
    background-color: #ffffff;
}
.row_lg_home{
    height: 0px;
}
.banner_div .row_buscador{
    padding: 33px 40px;
    background-color: #ffffff;
    position: relative;
    top: -170px;
    border-radius: 20px;
}
.banner_div .row_buscador select, .banner_div .row_buscador input{
    height: 60px !important;
    min-height: 60px;
    border: 1px solid #000000;
}
.banner_div .row_buscador button{
    border-radius: 10px;
    height: 100%;
width: 75%;
}
header{
    padding: 10px 0px 0px;
}
header .login_a a{
    padding: 10px 14px 14px 5px;
    background-color: #004AAD;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}
header .ul_header{
    list-style: none;
    margin: auto;
    width: fit-content;
    display: flex;
    padding: 0px;
}
header .ul_header li{
    padding: 20px 30px;
}
header .ul_header li.active{
    /* border-bottom: 3px solid #000000; */
}
header .ul_header li a{
    font-size: 14px;
    color: #121010;
    font-weight: 500;
    text-decoration: none;
}
.publicidad_div .publicidad_img{
    text-align: center;
}
.section_datos_informacion{
    padding: 60px 0px 100px;
}
.section_datos_informacion .owl-info .info_flex{
    display: flex;
    align-items: center;
}
.section_datos_informacion .owl-info .info_flex p{
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}
.section_datos_informacion .owl-info .info_flex span{
    font-size: 15px;
}
.section_clientes h5{
    color: #4A4A4A;
    font-size: 32px;
    font-weight: bold;
}
.section_clientes p{
    color: #000000;
    font-size: 16px;

}
.section_clientes .seccion_resenas .item_resena{
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #f2f2f2; 
}
.section_clientes .seccion_resenas .item_resena .title_resena h6{
    font-size: 16px;
    margin: 0px 0px 15px;
}
.section_clientes .seccion_resenas .item_resena .title_resena p{
    font-size: 15px;
    color: #828282;
}
.section_clientes .seccion_resenas .item_resena .flex_item_user{
    margin: 20px 0px 0px 0px;
    display: flex;
    align-items: center;
}
.section_clientes .seccion_resenas .item_resena .flex_item_user p{
    margin: 0px;
    font-size: 16px;
}
.section_clientes .seccion_resenas .item_resena .flex_item_user span{
    font-size: 16px;
    color: #828282;
}
.section_datos{
    padding: 30px 0px 0px 0px;
    background-color: #ffffff;
}
.section_datos .div_datos span{
    color: #FA7561;
    font-size: 15px;
    font-weight: bold;
}
.section_datos .div_datos h4{
    color: #4A4A4A;
    font-size: 32px; 
    font-weight: bold;
    margin: 15px 0px;
}
.section_datos .div_datos p{
    font-size: 15px;
}
.section_datos .div_datos a{
    color: #ffffff;
    background-color: #5AC2B9;
    padding: 12px 38px;
    text-decoration: none;
    border-radius: 50px;
}
.section_datos .div_datos .flex_items{
    display: flex;
}
.section_datos .div_datos .flex_items .item_div{
    border-radius: 20px;
    padding: 20px;
    background-color: #F5F5F3;
    width: 25%;
    margin: auto;
    text-align: center;
}
.section_datos .div_datos .flex_items .item_div p{
    font-size: 32px;
    color: #000000;
    font-weight: bold;
}
.section_datos .div_datos .flex_items .item_div span{
    font-size: 20px;
    color: #000000;
    font-weight: lighter;
}



/*DATOS PERSONALES*/
.section_steps{
    padding: 25px 0px;
    border-bottom: 1px solid #000000;
    font-size: 15px;
}
.section_steps .border_blanco{
    padding: 0px 0px 10px;
    display: flex;
    align-items: center;
}
.section_steps .border_azul{
    color: #004AAD;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 3px solid #004AAD;
    padding: 0px 0px 10px;
    width: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
}
.section_datos_personales{
    margin: 90px 0px 90px 0px;
}
.section_datos_personales .datos_personas{
    margin: 0px 0px 35px 0px;
}
.section_datos_personales .datos_personas h4, .section_datos_personales .datos_acompanantes h4{
    font-size: 24px;
    color: #5C5C5C;
    font-weight: 400;
    margin: 0px 0px 10px 0px;
}
.section_datos_personales .datos_personas input, .section_datos_personales .datos_acompanantes input{
    border: 1px solid #575757 !important;
}
.section_datos_personales .resumen_ticket{
    padding: 30px;
    box-shadow: 0px 3px 6px 0px #888888;
    margin: 0px 0px 30px 0px;
}
.section_datos_personales .resumen_ticket h3{
    font-size: 24px;
    color: #6E6E6E;
}
.section_datos_personales .resumen_ticket .flex_ticket{
    display: flex;
}
.section_datos_personales .resumen_ticket .flex_ticket b{
    font-size: 16px;
    color: #676767;
}
.section_datos_personales .resumen_ticket .flex_ticket p{
    display: flex;
    align-items: center;
    margin: 8px 0px 20px;
}
.section_datos_personales .resumen_ticket .flex_ticket p img{
    margin: 0px 5px 0px 0px;
    width: 16px;
}
.section_datos_personales .resumen_ticket .flex_ticket .w_uno{
    width: 40%;
}
.section_datos_personales .resumen_ticket .flex_ticket .w_dos{
    width: 20%;
    text-align: center;
}
.section_datos_personales .resumen_ticket .flex_ticket .w_tres{
    width: 40%;
    text-align: end;
}                
.section_datos_personales .ticket_personas{
    padding: 30px;
    box-shadow: 0px 3px 6px 0px #888888;
}
.section_datos_personales .ticket_personas h3{
    font-size: 24px;
    color: #6E6E6E;
} 
.section_datos_personales .ticket_personas .list_tickets_conteo{
    margin: 30px 0px;
}  
.section_datos_personales .ticket_personas .list_tickets_conteo .item_conteo{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #828282;
    padding: 20px 30px;
    color: #878787;
    font-size: 14px;
    font-weight: bold;
}     
.section_datos_personales .ticket_personas .btn_next_step .btn_next{
    background-color: #004AAD;
    font-size: 16px;
    color: #ffffff;
}
.section_datos_personales .ticket_personas .list_tickets_total{
    margin: 30px 0px;
} 
.section_datos_personales .ticket_personas .list_tickets_total .span_diferen{
    font-size: 14px;
    padding: 0px 11px;
    font-weight: bold;
    color: #004aad;
}
.section_datos_personales .ticket_personas .list_tickets_total .item_conteo{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    color: #878787;
    font-size: 14px;
    font-weight: bold;
}     
.section_datos_personales .ticket_personas .list_tickets_total .item_conteo_monto_total {
    display: flex;
    justify-content: space-between !important;
    color: #828282 !important;
    padding: 20px 10px 0px !important; 
}
.footer_sections{
    position: relative;
}
.footer_sections .section_footer{
    background-color: #F9F9F9;
}
.footer_sections .section_mini_footer{
    background: linear-gradient(to right, #EBF1E5, #EBF6F2);
}
.footer_sections .section_mini_footer p, .footer_sections .section_mini_footer a{
    color: #727272; 
    text-decoration: none;
    font-size: 12px;
}
.footer_sections .section_mini_footer .web_dev{
    text-decoration: underline;
}
.footer_sections .section_footer h3{
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}
.footer_sections .section_footer ul{
    margin: 0px 0px 30px 0px;
    list-style: none;
    padding: 0px;
}
.footer_sections .section_footer ul li{
    padding: 0px 0px 16px;
}
.footer_sections .section_footer ul li a{
    color: #000000;
    font-weight: lighter;
    text-decoration: none;
    font-size: 15px;
}
.footer_sections .section_footer .map_footer img{
    position: absolute;
    right: 0px;
}

.terminos_asientos{
    padding: 20px 30px;
    font-size: 12px;
}
.terminos_asientos a{
    font-weight: bold;
}
.section_datos_personales .item_conteo .precio_conteo{
    font-size: 16px;
}
.section_datos_personales .item_conteo .precio_conteo b{
    
}
.btn_detalle_main a{
    color: #ffffff;
    text-decoration: underline;
    font-size: 13px;
}
.collapse_detalles p{
    margin: 0px;
    font-size: 12px;
}