@media (max-width: 960px){
    .section_steps .border_blanco{
        text-align: center;
        display: inline-flex;
        align-items: center;
        font-size: 14px;
    }
    .section_steps .border_azul{
        text-align: center;
        display: inline-flex;
        align-items: center;
        font-size: 14px;
    }
    .section_datos_personales{
        margin: 40px 0px 40px 0px;
    }
    .section_datos_personales .resumen_ticket{
        padding: 10px;
    }
    .section_datos_personales .resumen_ticket h3{
        font-size: 20px;
    }
    .section_datos_personales .ticket_personas h3{
        font-size: 20px;
    }
    .section_datos_personales .resumen_ticket .flex_ticket p{
        font-size: 12px;
    }
    .section_datos_personales .ticket_personas{
        padding: 10px;
    }
    .section_datos_personales .datos_personas{
        margin: 0px 0px 10px 0px;
    }
    .section_datos_personales .ticket_personas .list_tickets_conteo .item_conteo{
        padding: 13px 11px;
    }
    .section_datos_personales .ticket_personas .list_tickets_total{
        margin: 10px 0px;
    }
    .datos_acompanantes{
        margin-bottom: 30px;
    }

    .section_ticket .row_ticket .col_info .info_uno h6{
        font-size: 20px;
    }
    .banner_div_destinos .row_buscador button{
        width: auto !important;
        margin: 20px 0px 0px 0px;
        height: auto !important;
    }
    .section_ticket .row_ticket .col_info .info_dos{
        margin: 10px 0px !important;
    }
    .section_ticket .row_ticket .col_price .price_div{
        margin: 10px auto !important;
    }
    .section_ticket .row_ticket .col_price .flex_button{
        margin: 10px 0px !important;
    }
    .items_list_tres ul{
        flex-wrap: wrap;
    }
    .items_list_tres ul li{
        width: fit-content;
        margin: 5px 5px;
    }
    .fondo_boleto_despliegue .items_list_tres{
        display: flex;
    }
    .section_ticket .row_ticket .col_info .info_uno p{
        font-size: 13px;
    }
}
@media (max-width: 540px){
    header .ul_header li {
        padding: 15px 15px;
    }
    header .login_a a {
        padding: 9px 17px 10px 3px;
        background-color: #004AAD;
        color: #ffffff;
        text-decoration: none;
        font-size: 12px;
        width: 100%;
        display: block;
    }    
    .center_logo{
        text-align: center;
    }
    .row_lg_home{
        height: 100px;
    }
    .banner_div .row_buscador{
        position: relative;
        top: -170px;
    }
    .banner_div .row_buscador button{
        width: auto;
    }
    .publicidad_div .publicidad_img{

    }
    .section_datos_informacion {
        padding: 40px 0px 50px;
    }
    .section_datos_informacion .owl-info .owl-dots{
        text-align: center;
        margin: 20px 0px 0px;
    }
    .section_datos_informacion .owl-info .owl-dots button{
        width: 10px;
        height: 10px;
        background-color: #a4a4a4;
        margin: 0px 5px;
        border-radius: 20px;
    }
    .section_datos_informacion .owl-info .owl-dots button.active{
        background-color: #000000;
    }
    .section_clientes .seccion_resenas .owl-items .owl-dots{
        text-align: center;
        margin: 20px 0px 0px;
    }
    .section_clientes .seccion_resenas .owl-items .owl-dots button{
        width: 10px;
        height: 10px;
        background-color: #a4a4a4;
        margin: 0px 5px;
        border-radius: 20px;
    }
    .section_clientes .seccion_resenas .owl-items .owl-dots button.active{
        background-color: #000000;
    }
    .section_datos{
        padding: 30px 0px 30px 0px;
    }
    .section_datos .div_datos h4 br{
        display: none;
    }
    .section_datos .div_datos p{
        font-size: 14px;
    }
    .section_datos .div_datos .flex_items .item_div{
        padding: 7px;
    }
    .section_datos .div_datos .flex_items .item_div p{
        font-size: 23px;
    }
    .section_datos .div_datos .flex_items .item_div span{
        font-size: 16px;
    }
    .img_footer_logo{
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .footer_sections .section_footer .map_footer img{
        position: relative;
        right: inherit;
        width: 100%;
    }
    .center_mobile{
        text-align: center;
    }
    .section_steps img{
        margin: 0px 5px !important;
    }
    .section_steps .img_icon{
        width: 35px;
    }
    .section_steps .border_blanco{
        text-align: center;
        display: flow-root;
    }
    .section_steps .border_azul{
        text-align: center;
        display: flow-root;
    }
    .banner_div_destinos{
        margin-bottom: 35px;
    }
    .section_cuadrados{
        height: auto !important;
    }
    .section_cuadrados .sec_white .clas_form h3{
        font-size: 38px;
        font-weight: bold;
        margin: 40px 0px 0px;
    }
}